* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
  }


/* Header */ 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #F3F3F3;
    padding: 10px 20px;
    z-index: 0;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: #e2e2ea;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 15rem;
  }
  
  .search-container input[type="text"] {
    border: none;
    outline: none;
    width: 200px;
    padding: 5px;
    font-size: 16px;
    background-color: #e2e2ea;
  }
  
  .search-container button[type="submit"] {
    border: none;
    outline: none;
    color: #59557D;
    background-color: #e2e2ea;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
  }

  /* Light/Dark Mode */
  #toggle {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    transform: scale(0.6);
    border-radius: 15px;
    transition: 0.5s;
    margin-top: 1rem;
    margin-left: 40rem;
    cursor: pointer;
    background: #fff;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1),
                inset 0 2px 2px rgba(0, 0, 0, 0.1),
                inset 0 -1px 1px rgba(0, 0, 0, 0.1);  
}

#toggle.active {
    background: #222;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1),
                inset 0 2px 2px rgba(0, 0, 0, 0.1),
                inset 0 -1px 2px rgba(0, 0, 0, 0.1);   
}

#toggle .indicator {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 13px;
    transform: scale(0.9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5),
                inset 0 1px 1px rgba(255, 255, 255, 0.2),
                inset 0 -1px 1px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    pointer-events: none;
}

#toggle.active .indicator {
    left: 32px;
    cursor: pointer;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1),
                inset 0 2px 2px rgba(255, 255, 255, 1),
                inset 0 -1px 2px rgba(255, 255, 255, 1); 
}


.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e2e2ea;
  margin-top: 20px;
  margin-right: 1rem;
}

  .header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 2rem;
  }
  
  .header-icons a {
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  
  .header-icons i {
    color: #59557D;
    font-size: 20px;
  }

  .icon-container:hover {
    background-color: #59557D;
  }
  
  .icon-container:hover i {
    color: #e2e2ea;
  }

  .header-icon {
    position: relative;
  }
  
  .header-icon::after {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-image: radial-gradient(circle at 50% 0%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 50%);
  }
  
  .fa-shopping-bag::after {
    background-color: #7FCDF0;
    box-shadow: 0 0 5px #7FCDF0, 0 0 10px #7FCDF0, 0 0 15px #7FCDF0, 0 0 20px #7FCDF0;
  }
  
  .fa-bell::after {
    background-color: #DD4E6C;
    box-shadow: 0 0 5px #DD4E6C, 0 0 10px #DD4E6C, 0 0 15px #DD4E6C, 0 0 20px #DD4E6C;
  }
  
  
  
  .user img {
    max-width: 100%;
    max-height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 3rem;
  }



/* Cart Drop down Menu */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  color: #59557D;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  padding: 12px 16px;
  border-radius: 8px;
  top: calc(100% + 10px);
  left: 1;
}

.dropdown-content.show {
  display: block;
}

.game-cart-details {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 5px;
}

.cart-title {
  font-size: 16px;
}

.cart-price {
  margin-left: 2rem;
}

.cart-button-container {
  margin-left: 1rem;
}

.cart-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-input {
  width: 30px;
  margin-left: 10px;
}

.cart-btn {
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 1rem;
  margin-left: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(to right, #01b5fc, #00abff, #009fff, #2e92ff, #5084ff, #637bff, #7770ff, #8c62ff, #9959ff, #a64dff, #b33ffe, #c129fb);
}

.cart-btn:hover {
  background: linear-gradient(90deg, rgba(0,137,192,1) 0%, rgba(144,31,192,1) 100%);
}

.icon-container {
  position: relative;
}



/* Nav-Bar */

body {
  min-height: 100%;
  background-color: #F3F3F3;
}

body.active {
    background-color: #2b2b2b;
}

header.active {
    background-color: #2b2b2b;
}

.main-nav {
    background-color: #F3F3F3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 5px solid #EDEEED ;
}

@media (max-width: 768px) {
  /* Hide the desktop nav bar */
  .main-nav {
    display: none;
  }
  /* Style the mobile nav bar */
  .mobile-nav {
    background-color: #FFFFFF;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #EDEEED;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  .mobile-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2b2b2b;
    font-size: 14px;
    text-decoration: none;
  }
  .mobile-nav a i {
    font-size: 20px;
    margin-bottom: 3px;
  }
}

  
  .logo {
    padding: 20px;
    padding-bottom: 10px;
    text-align: center; 
  }
  
  .logo img {
    height: 50px;
    width: auto;
  }
  
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .icons a {
    position: relative;
    margin-top: 60px;
    color: #59557D;
    font-size: 20px;
    transition: transform 0.3s ease-out;
}

.icons a:hover {
  transform: scale(1.5);
}
  
  .icons a.active::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 55px; 
    width: 4.5px;
    height: 40px; 
    background-color: #00B4FB;
    border-radius: 20px;
  }
  
  .extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem; 
  }
  
  .extras a {
    position: relative;
    margin-bottom: 40px;
    color: #59557D;
    font-size: 20px;
    transition: transform 0.3s ease-out;
  }
  .extras a:hover {
    transform: scale(1.5);
  }

  .extras a.active::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 55px; 
    width: 4.5px;
    height: 40px; 
    background-color: #00B4FB;
    border-radius: 20px;
  }
  
  





/* Main */

.slide-container {
  width: 89%;
  margin-left: 8rem;
}

@media screen and (max-width: 768px) {
  .slide-container {
    margin-left: auto;
  }
}

.square {
  height: 600px;
  position: relative;
  background-size: cover;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .square {
    height: 200px;
  }
}

.square.fortnite {
  background-image: url(/Images/FortniteBackground.jpeg);
  background-position: center;
}

.square.apex-legends {
  background-image: url(/Images/ApexBackground.png);
}

.square.counterstrike {
  background-image: url(/Images/Counterstrike2.jpeg);
  background-position: center;
}


.content {
  width: 450px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 1.5rem;
  margin-top: 15rem;
  margin-left: 2rem;
  color: #403e57;
  border-radius: 20px;
  }


.content h1 {
  font-family: 'Goldman', cursive;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.content p {
  font-size: 16px;
  margin-bottom: 3rem;
  max-width: 400px;
  font-family: 'Poppins', sans-serif;
}

.button-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.button-container h4 {
  font-size: 20px;
  margin-left: 0.5rem;

}

.product-button {
  min-width: 200px;
  min-height: 60px;
  font-size: 1.5rem;
  font-family: 'Goldman', cursive;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  margin-left: 3.5rem;
  color: #fff;
  background-image: linear-gradient(to right, #01b5fc, #00abff, #009fff, #2e92ff, #5084ff, #637bff, #7770ff, #8c62ff, #9959ff, #a64dff, #b33ffe, #c129fb);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 1rem 2rem;
  transition: transform 0.3s ease-out;
}

.product-button:hover {
  background: linear-gradient(90deg, rgba(0,137,192,1) 0%, rgba(144,31,192,1) 100%);
  transform: scale(1.05);
}


.add-to-cart-button {
  min-width: 35px;
  min-height: 35px;
  font-size: 1.5rem;
  color: #fff;
  background-image: linear-gradient(to left, #d17cda, #d073de, #cf69e1, #ce5fe5, #cc55e9, #cb4eec, #c947ef, #c740f2, #c63bf4, #c435f6, #c330f9, #c129fb);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  padding: 0.5rem 1rem;
  transition: transform 0.3s ease-out;
}

.add-to-cart-button:hover {
  background-image: linear-gradient(to left, #b64fb6, #af4bb1, #a947ac, #a243a7, #9c3f9f, #963b99, #903792, #8a3390, #84308b, #7e2c86, #782881, #72247c);
  transform: scale(1.1);
}




.free-to-play {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin: 10px;
  border-radius: 10px;
}

.popular {
  font-size: 22px;
  font-family: 'Goldman', cursive;
  color: #403e57;
  margin-top: 1rem;
  margin-left: 8rem;
}

  .image-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-left: 6rem;
  }
  
  .image-square {
    height: 200px;
    width: 300px;
    background-color: #f1f1f1;
    border-radius: 20px;
    overflow: hidden;
    margin: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease-out;
  }

  @media screen and (max-width: 768px) {
    .image-grid {
      margin-left: 1rem;
    }
    .image-square {
      height: 90px;
      width: 150px;
      margin: 10px;
    }


  }
  
  .image-square:hover {
    transform: scale(1.1);
  }
  
  .image-square img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* Sale */ 

  .store-container {
    display: flex;
    margin-top: 1.5rem;
  }
  
  .left-column {
    width: 500px;
  }

  @media (max-width: 768px) {
    .left-column {
      width: 200px;
      height: 50px;
    }
  }
  
  .right-column {
    display: flex;
    margin-right: 2rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    background: linear-gradient(89.95deg, #6F65FC -0.55%, #C129FB 98.76%);
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 768px) {
    .right-column {
      margin-left: 1rem;
    }
  }
  
  .for-you {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8rem;
    margin-bottom: 4rem;
  }

  @media (max-width: 768px) {
    .for-you {
      margin-left: 1rem;
    }
  }

  .recommended {
    margin-bottom: 20px;
  }

  .recommended, .dlc {
    background: linear-gradient(89.95deg, #00B4FB -0.55%, #696AFC 98.76%);
    color: #EDEEED;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .recommended-info p, .dlc-info p {
    width: 10rem;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }

  .recommended h3, .dlc h3 {
    margin-bottom: 1.5rem;
    font-family: 'Goldman', cursive;
  }
  
  .dlc-info, .recommended-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .dlc-image, .recommended-image {
    width: 150px;
    height: 150px;
    margin-left: 1.5rem;
    border: 3px solid #3253e5;
    border-radius: 40px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
  }

  .dlc-image:hover, .recommended-image:hover {
    transform: scale(1.1);
  }

  .recommended-image {
    background-image: url(/Images/FallGuys.jpeg);
    background-position: center;
    background-size: cover;
}

.dlc-image {
    background-image: url(/Images/ApexDlc.jpeg);
    background-position: center;
    background-size: cover;
}

.sale {
  width: 800px;
  margin: 1rem;
}

.sale h2 {
  margin-bottom: 2rem;
  font-family: 'Goldman', cursive;
  color: #EDEEED;
}
  
  .sale-games {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    margin-left: 2rem;
    color: #EDEEED;
  }

  .game-info h4 {
    font-size: 18px;
    font-family: 'Goldman', cursive;
  }

  .game-info p {
    font-family: 'Poppins', sans-serif;
  }

  .game-image {
    width: 100px;
    height: 100px;
    background-color: #222;
    border-radius: 30px;
    border: 3px solid #3253e5;
    cursor: pointer;
    transition: transform 0.3s ease-out;
  }

  .game-image:hover {
    transform: scale(1.1);
  }
  
  .dmc {
    background-image: url(/Images/Dante.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  .sea {
    background-image: url(/Images/Sea_of_Thieves.webp);
    background-position: center;
    background-size: cover;
  }
  
  .game-image.conan {
    background-image: url(/Images/Conan.jpeg);
    background-position: center;
    background-size: cover;
  }

  .more-button {
    font-size: 16px;
    padding: 0.25rem 2rem;
    background-color: #EDEEED;
    color: #3253e5;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(53, 111, 246, 0.5), 0 0 20px rgba(53, 111, 246, 0.3), 0 0 30px rgba(53, 111, 246, 0.2), 0 0 40px rgba(53, 111, 246, 0.1);
    font-weight: bold;
    cursor: pointer;
    font-family: 'Goldman', cursive;
    margin-top: 1rem;
    transition: transform 0.3s ease-out;
  }
  
  .more-button:hover {
    transform: scale(1.1);
    color: #fff;
    background: linear-gradient(90deg, #2856b8 21.56%, #664cd9 81.43%);
  }

  .buy-button {
    font-family: 'Goldman', cursive;
    width:100px;
    padding: 10px;
    background-color: #EDEEED;
    box-shadow: 0 0 10px rgba(53, 111, 246, 0.5), 0 0 20px rgba(53, 111, 246, 0.3), 0 0 30px rgba(53, 111, 246, 0.2), 0 0 40px rgba(53, 111, 246, 0.1);
    border-radius: 10px;
    font-size: 16px;
    color: #3253e5;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-out;
  }

  .buy-button:hover {
    transform: scale(1.1);
    color: #fff;
    background: linear-gradient(90deg, #2856b8 21.56%, #664cd9 81.43%);
  }

  /* Footer */

  .footer {
    height: 300px;
    color: #59557D;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-links a {
    color: #59557D;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
  }
  
  .footer-links i {
    font-size: 24px;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    color: #fff;
  }
  
  .footer-links i:hover {
    color: #fff;
  }

  
  /* Cart Page */

  .cart-main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }

  .cart-main h1 {
    font-size: 20px;
    text-align: left;
    margin-top: 5rem;
    margin-bottom: 20px;
  }

  .product {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .product-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .product-details h2 {
    font-size: 30px;
  }

  .quantity {
    display: flex;
    align-items: center;
    margin-left: 36rem;
  }
  
  .quantity input {
    font-size: 18px;
    width: 50px;
    text-align: center;
  }

  .quantity p {
    font-size: 18px;
    margin-right: 3rem;
    margin-left: 4rem;
  }
  
  .remove-btn {
    font-size: 18px;
    background-color: #1c75c8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .remove-btn:hover {
    background-color: #2b487f;
  }

  hr {
    border: none;
    border-top: 2px solid #3253e5;;
    margin: 20px 0;
  }

  .subtotal,
  .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.subtotal {
  font-size: 18px;
  margin-bottom: 10px;
}

.total {
  font-size: 20px;
  font-weight: bold;
}

  .checkout-btn {
    min-width: 200px;
    min-height: 60px;
    font-size: 1rem;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(90deg, rgba(0,180,251,1) 0%, rgba(193,41,251,1) 100%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 1rem 2rem;
  }
  





  /* Downloads Page */

  .download-box {
  background-color: #F3F3F3;
  padding: 20px;
  margin: 20px;
  margin-left: 100px;
  border-top: 4px solid #EDEEED;
}

.progress-bar {
  background-color: #fff;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 50px;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.progress-bar i {
  font-size: 24px;
  position: absolute;
  top: 0;
  right: -30px;
  color: #DD4E6C;
}

.progress1 {
  background-color: #04B2FC;
  width: 60%;
  height: 100%;
  border-radius: 20px;
}
.progress2 {
  background-color: #04B2FC;
  width: 20%;
  height: 100%;
  border-radius: 20px;
}
.progress3 {
  background-color: #7AEB86;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.download-box h2 {
  font-size: 24px;
  font-family: 'Goldman', cursive;
  color: #59557D;
  margin-bottom: 10px;
}

.download-box p {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 40px;
  color: #59557D;
}

.download-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.download-icons i {
  font-size: 24px;
  color: #DD4E6C;
  margin-left: 10px;
}

.download-box .fa-circle-xmark {
  margin-left: 10px;
}

.download-box .fa-circle-check {
  color: #7AEB86;
}
  


/* Product Page */

.product-page {
  background-image: url("/Images/FortniteProduct.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.product-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 600px;
  padding: 8rem;
}

.product-page h1 {
  position: absolute;
  left: 4%;
  top: 15%;
}

.product-page h1 img {
  max-width: 40%;
}

.product-page p {
  color: #fff;
  max-width: 400px;
  line-height: 1.5;
}

.play-now-button {
  min-width: 300px;
  min-height: 60px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(90deg, rgba(0,180,251,1) 0%, rgba(193,41,251,1) 100%);
  box-shadow: 6px 2px 6px rgba(193, 41, 251, 0.6), -6px 4px 12px rgba(0, 180, 251, 0.6);
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 1rem 4rem;
  margin-top: 3rem;
}

.play-now-button:hover {
  background: linear-gradient(90deg, rgba(0,137,192,1) 0%, rgba(144,31,192,1) 100%);
}
  
.video-container {
  margin-top: 250px;
  position: relative;
  max-width: 900px;
  right: -250px;
}
.video-container video {
  width: 50%;
}
  


/* Library Page */
.library {
  padding-right: 3rem;
  padding-left: 8rem;
  margin-top: 2rem;
}

.continue-container {
  margin-top: 2rem;
}
.continue-game-box {
  width: 400px;
  height: 300px;
  margin: 0.5rem;
  padding: 10px;
  background-color: #009fff;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.play-button {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 0.5rem 3rem;
  background: linear-gradient(90deg, #356FF6 21.56%, #8060F2 81.43%);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px #356FF6, 0 0 20px #356FF6, 0 0 30px #356FF6, 0 0 40px #356FF6;
  font-family: 'Goldman', cursive;
}

.play-button:hover, .game-button:hover {
  background: linear-gradient(90deg, #2856b8 21.56%, #664cd9 81.43%);
}

.continue-game-box:hover {
  transform: scale(1.05);
}

.library h1, .library h2{
  font-family: 'Goldman', cursive;
}

.library h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Goldman', cursive;
}

.game-box {
  width: 200px;
  height: 300px;
  background-color: #ff6600;
  margin: 10px;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}

.game-box:hover {
  transform: scale(1.05);
}

.game-button {
  font-family: 'Goldman', cursive;
  width:180px;
  padding: 10px;
  margin: 10px;
  margin-top: 15rem;
  background: linear-gradient(90deg, #356FF6 21.56%, #8060F2 81.43%);
  box-shadow: 0 0 10px rgba(53, 111, 246, 0.5), 0 0 20px rgba(53, 111, 246, 0.3), 0 0 30px rgba(53, 111, 246, 0.2), 0 0 40px rgba(53, 111, 246, 0.1);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
}



/* Contact page */

.contact-box {
  background-color: #e2e2ea; /* Grey background */
  padding: 5rem; /* Add padding */
  width: 80%; /* Width set to 50% to center box horizontally */
  margin: 5rem auto; 
  border-radius: 40px;
}

.contact-box h2 {
  margin-bottom: 1.5rem;
}

.logo-box {
  text-align: center; /* Center logo horizontally */
}

.logo-box img {
  width: 150px;
}

.form-group {
  margin-bottom: 10px; 
}

.form-label {
  display: block; /* Make the labels appear on a new line */
  font-weight: bold; /* Bold text for labels */
  margin-bottom: 5px; /* Add a little space between the label and form element */
}

.form-input {
  width: 100%; /* Make form elements full width */
  padding: 10px; /* Add some padding */
  border-radius: 10px; /* Rounded corners */
  border: none; /* Remove borders */
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-input#message {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
}

.form-btn {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 16px 30px; /* Add some padding */
  border: none; /* Remove borders */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add cursor on hover */
  margin-top: 10px; /* Add a little space between the form elements and the button */
}

.form-btn:hover {
  background-color: #3e8e41; /* Darker green background on hover */
}